h2{
  color: black;
  text-shadow: blue;
  text-align: center;
}
div.galeria{
  margin: 10px 20px;
  box-shadow: blue;
  float: left;
  width: 300px;
}
div.galeria img{
  width: 100%;
  height: auto;
}

div.pie{
  text-align: center;
  padding: 5px;
}
.seccion-galeria{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}