h2{
  color: black;
  text-shadow: blue;
  text-align: center;
}
div.galeria{
  margin: 10px 20px;
  box-shadow: blue;
  float: left;
  width: 350px;
}
div.galeria img{
  width: 100%;
  height: auto;
}
div.galeria:hover{
  border: 1px solid lightcoral;
  
}
div.pie{
  text-align: center;
  text-shadow: 2px 2px 5px purple;
  padding: 10px;
}