@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

:root{
    --gold1:#f4bd76;
    --gold2:#f6cd8f;
    --grey1:#ffffff80;
    --grey2:#f7d9d990;
    --black1:#1a1b1f;
    --black2:#181b19;
    --whadow: 0 8px 8px;
    --color_shadow:#00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}
.container_modifier{
    width: 100%;
}



.hero{
    width: 100%;
    min-width: 100vh;
    background: linear-gradient(180deg, #070707 0%, #070707  100%);
}
.nav_hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
    
}
.logo_name{
    font-size: 24px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.link--active{
    color: var(--gold1);
    font-weight: 700;
}

.hero_main{
    display: flex;
    align-items: center;
    padding: 0;
    background-color: black;
}
.mockup{
    object-fit: cover;
    height: 500px;
    
}
.title{
    font-size: 56px;
    font-weight: 300;
    color: white;
}
.title--active{
    color: var(--gold1);
    font-weight: 700;
}
.copy{
    font-size: 24px;
    color:var(--gold2);
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;
}
.copy_active{
    font-weight: 700;
}
.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--whadow) var(--color_whadow);
    border-radius: 6px; 
}
/* servicios*/

.servicies{
    background: #fafafa;
}
.titulo_2{
    text-align: center;
}
.subtitule{
    font-size: 42px;
}
.subtitule--modifier{
    text-align: center;
    margin-bottom: 16px;

}
.copy_section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-top: 60px;
}
.copy_section--modifier{
    text-align: center;
    margin-bottom: 32px;

}
.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 90%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);

}
.card_img{
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
}
.card_text{
    text-align: center;
    width: 95%;
    margin-left: auto;
    padding-right: 25px;
}
.card_list{
    color: var(--gold2);
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;

}
.card_title{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
}
.card_copy{
    color: var(--grey2);
    margin-bottom: 16px;

}
.card_button{
    display: block;
    background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black2);
    font-weight: 700;
    text-align: center;
    padding: 10px 0;

}
/* check*/
.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
}
.check-item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black2);

}
.bx-check{
    background: linear-gradient(180deg, #161514 0%, #1b1a18 100%);   
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    font-size: 40px;


}
.check_number{
    font-weight: 700;

}
.check_copy{
    font-weight: 300;
}
.newsletter{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font-family: inherit;
    border-radius: 6px;
}
.newsletter--modifier{
    margin: 0;
    width: 80%;

}
.newsletter_input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black2);

}
.newsletter_submit{
    text-align: center;
    position: relative; 
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, #d3d0ce 0%, #cccac7 100%); 
    color: rgb(0, 0, 0);
    padding: 0 30px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}

.footer{
    background: #f0e9e9;

}
.footer_caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    
}
.title_footer{
    font-size: 25px;
    margin-bottom:  32px;

}
.download{
    width: 50%;

}
.download_app{
    display: flex;

}
.download_item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    width: 42%;
    border: 1px solid var(--black1); 
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;

}
.download_logo{
    font-size: 40px;
    margin-right: 20px;
}
.download_title{
    font-size: 18px;
}
.footer_copy{
    width: 100%;
    color: var(--black2);
    display: flex;
    flex-wrap: wrap;

}
.copyright{
    width: 100%;

}
.politica_pirvacidad{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    
}
.politica_pirvacidad:hover{
    text-decoration: underline;

}
.politica_pirvacidad--margin{
    margin-right: 10px;
}